<div class="section">
  <mat-card
    class="mat-elevation-z8"
    style="
      width: 25%;
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;
    "
  >
    <div>
      <mat-card-title style="padding: 20px">Create UserName</mat-card-title>
    </div>
    <mat-card-content
      style="display: flex; flex-direction: column; padding: 20px"
    >
      <mat-form-field appearance="outline">
        <input
          type="text"
          [(ngModel)]="searchText"
          matInput
          (keyup)="searchApi()"
        />
      </mat-form-field>
      <button
        mat-raised-button
        [ngClass]="{ active: createUsername }"
        (click)="createUser()"
        [disabled]="!createUsername"
      >
        Create
      </button>
    </mat-card-content>
  </mat-card>
</div>
